:root {
    --background-color: #b9b9b996;
    --primary-color: #5b5b5b7c;
    --text-color: #303030b5; 
}

.body {
  background-color: var(--background-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

button.btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-color: var(--text-color);
}

.input-portion {
  width: 40px !important;
  height: 32px;
  text-align: center;
  padding: 0;
  line-height: 32px; 
  font-size: 14px;    
}

.btn-portion {
  width: 32px;
  height: 32px;
  padding: 0;
  text-align: center;
}

.my-list-border {
    border-top: 1px solid #333333ab;
}